.form-row.with-border {
    border-top: 1px solid #f0f0f0;
    padding-top: 25px;
}
.form-row textarea, .form-row input[type=text], .form-row select {
    max-width: 500px;
    width: 100%;
}
.form-row textarea {
    height: 109px;
}
.dg-vimeo-form {
    background: #fff;
    padding: 20px;
    max-width: 700px;
    border-left: 4px solid #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.dgv-wrap {
    margin: 10px 20px 0 2px;
}
.dgv-wrap h1, .dgv-wrap>h2:first-child {
    font-size: 23px;
    font-weight: 400;
    padding: 9px 0 4px 0;
    line-height: 29px;
    margin-bottom: 14px;
}
.dgv-wrap .page-title-action {
    margin-left: 4px;
    padding: 4px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    border: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f7f7f7;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #0073aa;
    cursor: pointer;
    outline: 0;
}
.form-row {
    margin-bottom: 25px;
}
.form-row > label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.dgv-clear-padding {
    margin-left:0 !important;
    margin-right: 0 !important;
}