.tablenav .select2 {
    width: 140px !important;
}

.tablenav .select2, .tablenav .button {
    display: inline-block;
}
.dgv-clear-selection {
    text-decoration: none;
}

.form-row.with-border {
    border-top: 1px solid #f0f0f0;
    padding-top: 25px;
}

.form-row textarea, .form-row input[type=text], .form-row select {
    max-width: 500px;
    width: 100%;
}

.form-row textarea {
    height: 109px;
}

.wvv-box {
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    border: 1px solid #ccd0d4;
}

.wvv-mb-0 {
    margin-bottom: 0 !important;
}

.dgv-wrap {
    margin: 10px 20px 0 2px;
}

.dgv-wrap h1, .dgv-wrap > h2:first-child {
    font-size: 23px;
    font-weight: 400;
    padding: 9px 0 4px 0;
    line-height: 29px;
    margin-bottom: 14px;
}

.dgv-wrap .page-title-action {
    margin-left: 4px;
    padding: 4px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f7f7f7;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #0073aa;
    cursor: pointer;
    outline: 0;
}

.form-row {
    margin-bottom: 15px;
}

.form-row > label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.dgv-clear-padding {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.vimeo-api-info tr {
    vertical-align: top;
}
.vimeo-api-info p.wvv-status-red {
    color: red;
    font-weight: bold;
}

.vimeo-api-info p.wvv-status-green {
    color: green;
    font-weight: bold;
}

.vimeo-api-info p.wvv-status-yellow {
    color: #cfbf08;
    font-weight: bold;
}

.vimeo-api-info th {
    text-align: left;
}

.vimeo-api-info p {
    margin-top: 0;
    margin-bottom: 0;
}

.vimeo-api-info {
    border: 1px solid #ccc;
    background: #fcfcfc;
    padding: 10px;
}

.wvv-problems ul {
    list-style: nu;
}
.wvv-problems {
}
.wvv-problems ol {
    padding-left: 0;
    margin-left: 13px;
    margin-top: 5px;
}
.wvv-problem-head {
    font-weight: bold;
}


h2.wvv-form-heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
}

.wvv-row {
    width: 100%;
    float:left;
    margin-top: 15px;
}

.wvv-col {
    margin-right: 2%;
}
.wvv-col:last-child {
    margin-right: 0;
}
.wvv-col-60 {
    width:59%;
    float:left;
}
.wvv-col-40 {
    width:39%;
    float:left;
}
.wvv-list {
    list-style: square;
    padding-left: 30px;
}
.wvv-form-notice {
    margin-top: 12px;
}

.wvv-form-notice p {
    margin-top: 0;
    margin-bottom: 0;
}
.wvv-form-notice {
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid #f3f3f3;
}
.wvv-notice-wrapper {
    max-width: 59%;
}
.wvv-notice-wrapper .notice:last-child {
    margin-bottom: 0;
}

/* News */
.wvv-news-entry {
    border-bottom: 1px solid #ccc;
    padding: 15px 20px;
    background: #fff;
}
.wvv-news-entry:last-child {
    border-bottom: 0;
}
.wvv-news-entry h4 {
    margin-bottom: 0 !important;
    margin-top: 5px;
    font-style: italic;
    font-size: 12px !important;
}
.wvv-news-entry h3 {
    margin-bottom: 0 !important;
    margin-top: 0;
    line-height: 1.4;
}
.wvv-news-panel {
    background: #fff;
    float: left;
    max-width: 90%;
    border: 1px solid #ccd0d4;
}
.wvv-news-panel > h3 {
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 0;
}
.wvv-news-entry p {
    margin-bottom: 0;
}

.wvv-news-entry p {
    margin-bottom: 0;
    margin-top: 5px;
    color: #4e4e4e;
}

.wvv-mt-0 {
    margin-top: 0 !important;
}
.wvv-mt-20 {
    margin-top: 20px !important;
}
.wvv-pt-0 {
    padding-top: 0 !important;
}
.wvv-pb-0 {
    padding-bottom:0 !important;
}

.wvv-color-green {
    color: #08b908;
}

/**
 * Instructions
 */
.dgv-instructions {
    width: 100%;
    max-width: 98.5%;
}
.instructions .dgv-instructions-card {
    background: #fff;
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 100%;
}

.instructions .dgv-instructions-card .dgv-instructions-header {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
}

.instructions .dgv-instructions-card .dgv-instructions-header p.lead {
    font-size: 23px;
    color: #1a1a1a;
    margin-bottom: 5px;

}

.instructions .dgv-instructions-card .dgv-instructions-header p.desc {
    font-size: 15px;
}

.instructions .dgv-instructions-row {
    float:left;
    width: 96%;
}

.instructions .dgv-instructions-colf {
    width: 100%;
    float: left;
    padding: 1%;
}

.instructions .dgv-instructions-col3 {
    width: 31%;
    float: left;
    padding: 1%;
}
.instructions .dgv-instructions-col4 {
    width: 23%;
    float: left;
    padding: 1%;
}
.instructions h4 {
    margin-top: 5px;
    margin-bottom: 10px;
}
.dgv-notice-dismiss {
    text-decoration: none;
}
@media(max-width: 767px) {
    .instructions .dgv-instructions-col3 {
        width: 100%;
    }
    .instructions .dgv-instructions-col4 {
        width: 100%;
    }
}

.instructions .green {
    color: #1abc9c;
}

.instructions .navy {
    color: #2f4154;
    font-size: 17px;
}

.instructions .dgv-instructions-row.dgv-instructions-header .dgv-instructions-colf {
    padding-bottom: 0;
}

.instructions .dgv-instructions-link {
    background-color: #2f4154;
    padding: 10px;
    min-width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1abc9c;
    font-size: 1rem;
}

.instructions .dgv-instructions-link:hover, .instructions .dgv-instructions-link:active, .instructions .dgv-instructions-link:focus {
    outline: none;
    opacity: 0.8;
}

.instructions a.dgv-instructions-link {
    text-transform: none;
    text-decoration: none;
}

.instructions.is-dismissible {
    padding-right: 0 !important;
}


/**
 Upload form
 */

.dgv-vimeo-form-row input[type=text] {
    width: 100%;
}
.dgv-progress-bar {
    height: 20px;
    width: 100%;
    background: #f0f0f0;
    text-align: center;
    position: relative;
}
.dgv-progress-bar-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #2593c5;
    max-width: 100%;
}
.dgv-progress-bar-value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.dgv-loader:before {
    height: 25px;
    width: 25px;
    content: '';
    animation: spin 1s ease-in-out infinite;
    background: url(../img/loader.gif) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(78, 59, 59, 0.75);
    display: inline-block;
    margin-right: 5px;
}


.dgv-embed-container, .dgv-embed-container iframe {
    box-sizing: border-box;
}
.dgv-embed-container iframe {
    border: 1px solid #000;
}

.dgv-vimeo-form-row input[type="submit"] {
    width: 100%;
}

.dgv-vimeo-form-row textarea {
    width: 100%;
}

.dgv-vimeo-form-row select, .dgv-vimeo-form-row input[type=text], .dgv-vimeo-form-row textarea {
    font-size: 16px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    border: 1px solid !important;
    border-radius: 0 !important;
}

.dgv-vimeo-form-row button[type=button], .dgv-vimeo-form-row button[type=submit]  {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 16px !important;
    font-size: 14px;
}

.dgv-vimeo-form-row {
    margin-bottom: 10px;
}

.dgv-vimeo-form-row label {
    display: block !important;
    width: 100%;
    margin-right: 5px !important;
    line-height: 1.4rem;
    font-size: 1rem;
}
.dgv-vimeo-upload-form h4 {
    margin-top: 10px !important;
    font-size: 22px !important;
    margin-bottom: 5px !important;
    padding: 0 !important;
}
.dgv-vimeo-form-row label,
.dgv-vimeo-video .button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

.dgv-embed-container iframe {
    width: 100%;
    display: block;
    background: #000 !important;
    padding: 5px;
    border: 1px solid #000 !important;
}

.submitSearch {
    position: relative;
    top: 5px;
    min-height: 30px !important;
}

.dgv-font-weight-normal {
    font-weight: normal !important;
}

.wp-block .dgv-vimeo-upload-form {
    background: #fff;
    padding: 1px 22px;
    border: 1px solid #000;
}

/* Embed */
.dgv-embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 15px;
}
.dgv-embed-container iframe, .dgv-embed-container object, .dgv-embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}